body {
    padding: 0;
    margin: 0;
}

li {
    padding-top: 0px;
    padding-bottom: 0px;
}

#header {
    width: 100%;
    height: 60px;
    top: 0;
    background: linear-gradient(45deg, #9198e5, #e66465);
    z-index: 999;
    padding: 5px;
}

    #header img {
        height: 50px;
    }

#content {
    margin-top: 60px;
    margin-bottom: 55px;
    background-color: #FFF;
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
}
#z-fire {
    margin-top: 60px;
    margin-bottom: 55px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#footer {
    width: 100%;
    height: 55px;
    bottom: 0px;
    /*background: #FFF;*/
    background: linear-gradient(45deg, #9198e5, #fff);
    z-index: 999;
    padding-bottom: 5px;
}

    #footer img {
        height: 50px;
    }

    #footer td {
        width: 20%;
    }

#tieu-de {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.cell {
    border: 1px solid #afefe8;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    display: inline;
}

.w-value {
    display: inline;
}

.about-app {
    padding-top: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 500px;
    width: 100%;
}

.app-name {
    font-weight: bold;
}

a, .mobi-icon {
    cursor: pointer;
}

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }

button.active{
    font-weight:bold;
    background-color:deepskyblue !important;
}

.row-adv{
    display:none;
}

.cell-tien-ich{

}

.btn-tien-ich {
    width: 100%;
    height: 130px;
    background: linear-gradient(45deg, #ffffff, #0fbef7);
}

