.header {
  background-color: #dedede;
}

.header-logo img {
  height: 100px;
}
.header-content {
  color: #171777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_info {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-header {
  color: white;
  background-color: #00000066;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-header button::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 4px;
  background-color: gray;
  z-index: -1;
}

.nav-header button.active:before {
  color: white;
  background-color: #24fe41;
}

.nav-header button:hover,
.nav-header button.active:hover {
  color: white;
  background-color: green;
}

.nav-header button {
  width: 8rem;
  border: none;
  outline: none;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(45deg, white, rgb(16, 220, 16), white);
  color: white;
  cursor: pointer;
  z-index: 1;
}
/* 
.nav-header .btn {
  --borderWidth: 3px;
  color: white;
  background: gray;
  position: relative;
  border-radius: var(--borderWidth);
  transition: 0.25s ease;
}

.nav-header .btn:hover {
  background: green;
}

.nav-header .btn.active {
  background: #24fe41;
}

.nav-header .btn:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.nav-header .btn.btn.active:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #7ef733,
    #f3ee55,
    #79ef4e,
    #66ab93,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

table {
  min-width: 300px;
}

table thead {
  color: white;
  background-color: #00000066;
}

table thead tr th,
table tbody tr td,
table tbody tr th {
  vertical-align: middle;
}

table thead tr th,
table tbody tr td {
  text-align: center;
}

table tbody tr th[rowspan] {
  font-size: 2rem;
  text-align: center;
  writing-mode: vertical-rl;
}

table tbody tr:has(th[rowspan]):not(:first-child) {
  border-top: 5px solid #00000066;
}

.form-floating label {
  color: yellow;
}

.form-floating select.form-select {
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
}

.form-floating select option {
  background-color: gray;
}

#water-setting-content .container div:first-child {
  padding: 5px 0px;
  text-align: right;
}
#water-zone-card{
  width: 1250px;
  height: 410px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-left:160px;
}
.cell.mr {
	margin-right:20px;
}
.cell {
  display: inline-block;
  width: 220px;
  height: 293px;
  background-size: 220px 293px;
  background-repeat: no-repeat;
  margin-bottom:20px;
  border: 3px solid #7595D7;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 30px;
}
.cell:hover{
border: 3px solid red;
}
.cell-title{
   position: relative;
   top: -5px;
   right: 5px;
   font-size: 36px;
   text-align:right;
}
.cell-title .dv{
	position: relative;
	top: -30px;
	font-size: 18px;
}
.wt-hidden{
	display:none;
}
.mui_ten{
  width:14px;
  padding-bottom:3px;
}
.bg1{
	background-image:url('images/bg1.png');
}
.bg2{
	background-image:url('images/bg2.png');
}
.bg1.bg-error{
	background-image:url('images/bg1e.png') !important;
	color:yellow !important;
	animation: blink 1s infinite;
}
.bg2.bg-error{
	background-image:url('images/bg2e.png') !important;
	color:yellow !important;
	animation: blink 1s infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.w-min{
   position: relative;
   top: -230px;
   left: 0px;
   width:60px;
   text-align:center;
   font-size:16px;
}
.w-max{
   position: relative;
   top: 60px;
   left: 125px;
   width:110px;
   text-align:center;
   font-size:16px;
}
.w-time{
   position: relative;
   top: 46px;
   left: 5px;
   width: 100px;
   text-align:left;
   font-size:11px;
   font-weight:Normal;
}
.w-lh{
   position: relative;
   top: -195px;
   left: 5px;
   width: 115px;
   text-align:left;
   font-size:14px;
   font-weight:Normal;
}
.w-qv{
   position: relative;
   top: -190px;
   left: 5px;
   width: 115px;
   text-align:left;
   font-size:14px;
   font-weight:Normal;
}
#fire-setting i {
  font-size: 20px;
  color: #ff6a00;
}

#water-setting i {
  font-size: 20px;
  color: #2196f3;
}

.w-value {
  position: relative;
  font-size: 60px;
  top: -12px;
  color: #3eb134;
}
/*
#wt1 {
  background-color: #bb5014;
}
#wt2 {
  background-color: #f01204;
}
#wt3 {
  background-color: #7b8f37;
}*/

.btn-fire {
  background-image: url("images/fire.webp");
  width: 80px;
  height: 100px;
  background-size: 80px 100px;
  position: relative;
}

#f1 {
  left: 620px;
  top: -593px;
}

#f2 {
  left: 308px;
  top: -665px;
}

#f3 {
  left: 588px;
  top: -600px;
}

#f4 {
  left: 839px;
  top: -935px;
}

#app-sologan {
  display: none;
}
#img-cmd-fire {
  display: none;
}
@media only screen and (min-width: 769px) {
  #app-sologan {
    display: block !important;
  }
  #img-cmd-fire {
    display: inline;
  }
  #app-sologan2 {
    display: none;
  }
}

